= form_for diagnosis do |f|
  %fieldset
    %legend Diagnosis
    %ol
      %li
        = f.label :name
        = f.text_field :name, :autocomplete => :off
      %li
        = f.label :code
        = f.text_field :code, :autocomplete => :off
      %li
        = f.label :description
        = f.text_field :description, :autocomplete => :off

  %fieldset{:class => "submit"}
    = f.submit
