= form_for [patient, diagnosis_event] do |f|
  %fieldset
    %legend Diagnoses
    %ol
      %li
        = diagnosis_select diagnosis_categories, {:size => 20}

      %li
        = f.label :comment
        %br
        = f.text_area :comment

  %fieldset{:class => 'submit'}
    = f.submit 'Make Diagnosis'
