= custom_form_for [patient, diagnosis_event], :remote => true do |f|

  %fieldset
    %legend Diagnoses
    %ol
      %li
        = f.label :diagnosis_id
        = f.diagnosis_category_select(@categories)
      %li
        = f.label :comment
        = f.text_area :comment

  %fieldset{:class => 'submit'}
    = f.submit 'Make Diagnosis'
