- client = client_row
%tr
  %td= link_to client.full_name, edit_client_path(client)
  %td
    %small
      = address_for(client)
  %td
    %small
      = phone_numbers_for(client)
  %td
    - client.patients.each do |patient|
      = link_to patient.name, edit_patient_path(patient)
      != "&mdash;" unless patient == client.patients.last
