= form_for client do |f|

  %fieldset
    %legend Name
    %ol
      %li
        = f.label :first_name
        = f.text_field :first_name, :autocomplete => :off
      %li
        = f.label :last_name
        = f.text_field :last_name, :autocomplete => :off

  %fieldset
    %legend Address
    %ol
      %li
        = f.label :address_1, "Address"
        = f.text_field :address_1, :autocomplete => :off
      %li
        = f.label :address_2, "Apt."
        = f.text_field :address_2, :autocomplete => :off
      %li
        = f.label :city
        = f.text_field :city, :autocomplete => :off
      %li
        = f.label :state
        = f.select :state, ['', 'New York']
      %li
        = f.label :zipcode
        = f.text_field :zipcode, :autocomplete => :off
      
  %fieldset{:class => 'phone'}
    %legend Phone
    %ol
      = render phone_numbers
      %li
        %a{:href => '#', :class => 'add', :title => 'Add additional number'}
          = image_tag('add.png')

  %fieldset{:class => 'e-mail'}
    %legend E-Mail
    %ol
      %li
        = f.label :email, 'E-mail', :class => 'test'
        = f.text_field :email, :autocomplete => :off



  - unless client.new_record?
    = render :partial => 'patient_list', :locals => { :client => client }

  %fieldset{:class => "submit"}
    = f.submit
