%fieldset{:id => "phone-number-#{phone_number_counter}"}
  = fields_for 'client[phone_numbers]', phone_number, |
    :index => phone_number_counter  do |f|

    = f.select :type, PhoneNumber::Types
    = f.hidden_field :id
    = f.text_field :country_code
    = f.text_field :area_code
    = f.text_field :prefix
    = f.text_field :suffix
    = f.text_field :extension
