= form_for [client, patient], :remote => true do |f|

  %fieldset
    %legend Name
    %ol
      %li
        = f.label :name
        = f.text_field :name, :autocomplete => :off
      %li
        = f.label :sex
        = f.select :sex, Patient::Sexes
      %li
        = f.label :species
        = f.select :species, @species
      %li
        = f.label :breed
        = f.select :breed, @breeds
      %li
        = f.label :weight, 'Weight (lbs)'
        = f.text_field :weight, :autocomplete => :off
      %li
        = f.label :birth_day
        = birthday_select(f)
      %li
        = f.label :color
        = f.text_field :color, :autocomplete => :off
      %li
        = f.label :microchip
        = f.text_field :microchip, :autocomplete => :off


  %fieldset{:class => "submit"}
    = f.submit
