= link_to edit_patient_path(patient) do
  .label
    = "Patient"
  %strong
    = patient.name
  %br
  %small
    !="#{h patient.species} &mdash; #{h patient.breed} &mdash; #{h patient.sex}"
    %br
    %em
      = patient.client.full_name
