!!! 5
%html{html_attrs} 
 
  %head 
    %title Dinovet &rsaquo;
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery-ui-1.8.5.custom.min.js'
    = csrf_meta_tag

  #user_nav
    - if user_signed_in?
      = "Signed in as" + current_employee.email + " . Not you?"
      = link_to "Sign out", destroy_employee_session_path
    - else
      = link_to "sign in", new_user_session_path

  %body 
 
    #header 
      %ul 
        %li 
          %a{:href => '#'} Reports 
        %li 
          %a{:href => '#'} Schedule 
        %li
          %a{:href => '#'} Clients
        %li
          %a{:href => '#'} Configure

  = yield

  != error_message
  != notice_message
