!!! 5
%html{html_attrs} 
 
  %head 
    %title Dinovet &rsaquo;
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery-ui-1.8.5.custom.min.js'
    -if Rails.env == 'test' or Rails.env == 'cucumber' or Rails.env =='culerity'
      = javascript_include_tag 'culerity'
    = csrf_meta_tag
    :javascript
      var ROOT_PATH = '#{root_path}';

  %body 
 
    #header 
      %ul 
        %li
          = link_to "Diagnoses", diagnoses_path
        %li
          = link_to "Employees", employees_path
        %li
          = link_to "Clients", clients_path

  = yield

  != error_message
  != notice_message
